/*  font-family: 'Cookie', cursive;
    font-family: 'Tangerine', cursive;  */


/*#startButton{
  background-color: #30bbb4;
  color: rgb(255, 255, 255);
  font-family: 'Tangerine', cursive;
  font-size: 52px;
  font-weight: 800;
  height: 120px;
  width: 240px;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(42, 42, 156), 0 0 5px darkblue;
  box-shadow: 4px 4px 8px black, 0 0 20px rgb(42, 42, 156), 0 0 14px darkblue;
  border-radius: 50px;
} */

/* body {
  background-image: url("../images/camelot.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
  color: rgb(121, 252, 213);
  font-family: 'Cookie', cursive;
  text-shadow: 4px 4px 8px black, 0 0 20px rgb(42, 42, 156), 0 0 14px darkblue;
  text-align: center;

  }  

.jumbotron {
  background-color: rgba(248, 243, 85, 0);
  opacity: .7;
  margin-left: auto;
  margin-right: -140px;
  width: 60%;
}

#gameDisplay {
  width: 70%;
  margin-left: auto;
  margin-right: -90px;
}
h1 {
  font-size: 74px;
}

h2 {
  font-size: 40px;
}

.btn-outline-info {
  background-color: rgb(232, 198, 252);
  opacity: .6;
  text-align: center;
  font-weight: 900;
}

.btn {
  box-shadow: 2px 2px 4px black, 0 0 25px rgb(42, 42, 156), 0 0 5px darkblue;
} */





